.sidebar{
    width:260px;
    height:100vh;

    background:#111827;

    position:fixed;

    left:0;

    top:0;

    padding:25px;

    border-right:1px solid #1F2937;
}

.logo{

    color:white;

    font-size:28px;

    font-weight:bold;

    margin-bottom:40px;
}

.nav-links{

    display:flex;

    flex-direction:column;

    gap:10px;
}

.nav-links a{

    display:flex;

    align-items:center;

    gap:12px;

    color:#CBD5E1;

    padding:14px;

    border-radius:10px;

    transition:.3s;

    font-size:17px;
}

.nav-links a:hover{

    background:#2563EB;

    color:white;

}